In [1]:
import pandas as pd

In [2]:
# Read data from file
df = pd.read_csv('adult.data',header=None)

In [3]:
# Print the first five entries of the dataset
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# How many of each race are represented in this dataset?
df[8].value_counts()

 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: 8, dtype: int64

In [5]:
# What is the average age of men?
df[df[9]==' Male'][0].mean()

39.43354749885268

In [6]:
df[3].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [7]:
# What is the percentage of people who have a Bachelor's degree?
df[df[3] == ' Bachelors'][3].count()/df[3].count()

0.16446055096587942

In [8]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
higher_education = df[(df[3] == ' Bachelors')|(df[3] == ' Masters')|(df[3] == 'Doctorate')]
total_bachelor = higher_education[higher_education[14]== ' >50K']
total_bachelor[14].count()/higher_education[14].count()

0.44927945747386266

In [9]:
# What percentage of people without advanced education make more than 50K?
uneducated = df[(df[3]==' HS-grad')|(df[3]==' 11th')|(df[3]==' 9th')|(df[3]==' Some-college')|(df[3]==' Assoc-acdm')|(df[3]==' Assoc-voc')|(df[3]==' 7th-8th')|(df[3]==' Prof-school')|(df[3]==' 5th-6th')|(df[3]==' 10th')|(df[3]==' 1st-4th')|(df[3]==' Preschool')|(df[3]==' 12th')]
total_uneducated = uneducated[uneducated[14]== ' >50K']
total_uneducated[14].count()/uneducated[14].count()

0.173713601914639

In [10]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
df[12].min()

1

In [11]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
min_hour = df[df[12]==1]
min_hour_rich = min_hour[min_hour[14]==' >50K']
min_hour_rich[14].count()/min_hour[14].count()*100

10.0

In [12]:
# What country has the highest percentage of people that earn >50K?
df[df[14]==' >50K'][13].value_counts().idxmax()

' United-States'

In [13]:
 # Identify the most popular occupation for those who earn >50K in India.
top_earners = df[df[14]==' >50K']
top_indian = top_earners[top_earners[13]==' India']
top_indian[6].value_counts().idxmax()

' Prof-specialty'